{% extends 'base.html' %}

{% block body%}

	<div class="container">
		<h1>in Doctor</h1>

		<form class="contact-form" method="POST" action="/doctor_data_submit/">
		{% csrf_token %}
			
			<table>
				<tr>
					<!-- First  Name -->
					<td>
						<label for="doctor_fname">First name:</label>
					</td>
					<td>
						<input type="text" id="doctor_fname" name="doctor_fname"><br><br>
					</td>
				</tr>
				<tr>
					<td>
						<!-- Last Name -->
						<label for="doctor_lname">Last name:</label>
					</td>
					<td>
						<input type="text" id="doctor_lname" name="doctor_lname"><br><br>
					</td>
				</tr>
				<tr>
					<td>
						<!-- Salary -->
						<label for="doctor_salary">Salary:  </label>
					</td>
					<td>
						<input type="number" id="doctor_salary" name="doctor_salary"><br><br>
					</td>
				</tr>
				<tr>
					<td>
						<!-- Qualification -->
						<label for="doctor_qualification">Qualification:</label>
					</td>
					<td>
						<input type="text" id="doctor_qualification" name="doctor_qualification"><br><br>
					</td>	
				</tr>
				<tr>
					<td>
						<!-- Phone No. -->
						<label for="doctor_phone_no">Phone No:</label>
					</td>
					<td>
						<input type="number" id="doctor_phone_no" name="doctor_phone_no"><br><br>
					</td>
				</tr>
				<tr>
					<td>
						<!-- Shift Type -->
						<label for="doctor_shift_type">Shift Type:</label>
					</td>
					<td>
						<input type="text" id="doctor_shift_type" name="doctor_shift_type"><br><br>
					</td>
				</tr>
				
			</table>

	  		<button class="btn btn-success" type="submit">Submit</button>
		</form>

	<br><br>

		<a href="{% url 'hms:doctor_list' %}">
	        <button type="button" class="btn btn-primary btn-lg"> Doctor List </button>
	    </a>
	</div>
{% endblock %}